#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: yellow;
}

.button{
  background-color: greenyellow;
  color: black;
  padding: 4%;
  margin: 2%;
}
.text{
  padding: 3%;
  margin: 2%;
}
h1{
  color:black;
}